name: Deploy to GitHub Pages

on:
  workflow_dispatch:
    inputs:
      ambiente:
        description: "Seleziona l'ambiente di deploy"
        required: true
        type: choice
        options:
          - test
          - produzione
      versione:
        description: 'Numero di versione da taggare'
        required: false
        type: string
  push:
    branches:
      - main

permissions:
  contents: write  # Esegui l'azione quando viene fatto push su main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.x'

    - name: Install MkDocs
      run: |
        python -m pip install --upgrade pip
        pip install mkdocs

    - name: Build documentation
      run: mkdocs build

    - name: Deploy to GitHub Pages
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./site

